html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: right;
  position: absolute;
  bottom: 5vw;
  left: 11vh;
  font-weight: bold;
}

#footnote {
  text-align: right;
  position: absolute;
  bottom: 5vw;
  right: 11vh;
}

canvas {
  display: block;
}
